In [1]:
import pandas as pd
import numpy as np
import fs

In [2]:
MAIN_DIR = fs.open_fs("../../data/raw/Class01")
XLSX_DIR = MAIN_DIR.getsyspath("flores.xlsx")

df = pd.read_excel(XLSX_DIR, index_col=0)
df

             flores  producción
observación
1              1.00        1.71
2              1.08        1.52
3              1.15        1.29
4              1.15        3.09
5              1.20        2.21
6              1.30        2.26
7              1.37        2.40
8              1.37        2.10
9              1.43        1.96
10             1.46        2.09
11             1.52        2.02
12             1.57        1.31
13             1.65        2.17
14             1.65        2.28
15             1.65        2.41
16             1.66        2.23
17             1.87        3.04
18             2.03        2.06
19             2.05        2.73
20             2.30        2.36

In [9]:

df_cop = df.copy()
df_cop['x_bar'] = df_cop['flores'].mean()
df_cop['y_bar'] = df_cop['producción'].mean()

df_cop['x-x_bar'] = df_cop['flores'] - df_cop['x_bar']
df_cop['y-y_bar'] = df_cop['producción'] - df_cop['y_bar']

df_cop['num_b1'] = df_cop['x-x_bar'] * df_cop['y-y_bar']
df_cop['den_b1'] = df_cop['x-x_bar'] ** 2

df_cop.head(5)

,flores,producción,x_bar,y_bar,x-x_bar,y-y_bar,num_b1,den_b1
observación,,,,,,,,
1,1.00,1.71,1.523,2.162,-0.523,-0.452,0.236396,0.273529
2,1.08,1.52,1.523,2.162,-0.443,-0.642,0.284406,0.196249
3,1.15,1.29,1.523,2.162,-0.373,-0.872,0.325256,0.139129
4,1.15,3.09,1.523,2.162,-0.373,0.928,-0.346144,0.139129
5,1.20,2.21,1.523,2.162,-0.323,0.048,-0.015504,0.104329

In [11]:
b1 = df_cop['num_b1'].sum() / df_cop['den_b1'].sum()
b0 = df_cop['producción'].mean() - b1 * df_cop['flores'].mean()
print(f"El coeficiente b1 = slope = {b1:.3f}")
print(f"El coeficiente b0 = intercept = {b0:.3f}")

El coeficiente b1 = slope = 0.516
El coeficiente b0 = intercept = 1.376

In [14]:

def y_hat(x: int | float, slope : float, intercept: float): 
    """ """
    return slope * x + `intercept

In [15]:
df_res = df.copy()
df_res['y_hat'] = df_res.apply(lambda row: y_hat(row['flores'], slope=b1, intercept=b0), axis=1)
df_res['err_hat'] = df_res['producción'] - df_res['y_hat']
df_res['err_bar'] = df_res['producción'] - df_res['producción'].mean()
df_res.head(5)

             flores  producción     y_hat   err_hat  err_bar
observación
1              1.00        1.71  1.891965 -0.181965   -0.452
2              1.08        1.52  1.933270 -0.413270   -0.642
3              1.15        1.29  1.969413 -0.679413   -0.872
4              1.15        3.09  1.969413  1.120587    0.928
5              1.20        2.21  1.995229  0.214771    0.048

In [17]:
df_res['err_hat'].sum()

3.1086244689504383e-15