In [1]:
import pandas as pd
import numpy as np
import fs

In [2]:
MAIN_DIR = fs.open_fs("../../data/raw/Class01")
XLSX_DIR = MAIN_DIR.getsyspath("flores.xlsx")

df = pd.read_excel(XLSX_DIR, index_col=0)
df

             flores  producción
observación
1              1.00        1.71
2              1.08        1.52
3              1.15        1.29
4              1.15        3.09
5              1.20        2.21
6              1.30        2.26
7              1.37        2.40
8              1.37        2.10
9              1.43        1.96
10             1.46        2.09
11             1.52        2.02
12             1.57        1.31
13             1.65        2.17
14             1.65        2.28
15             1.65        2.41
16             1.66        2.23
17             1.87        3.04
18             2.03        2.06
19             2.05        2.73
20             2.30        2.36

In [3]:

df_cop = df.copy()
df_cop['x_bar'] = df_cop['flores'].mean()
df_cop['y_bar'] = df_cop['producción'].mean()

df_cop['x-x_bar'] = df_cop['flores'] - df_cop['x_bar']
df_cop['y-y_bar'] = df_cop['producción'] - df_cop['y_bar']

df_cop['num_b1'] = df_cop['x-x_bar'] * df_cop['y-y_bar']
df_cop['den_b1'] = df_cop['x-x_bar'] ** 2

df_cop.head(5)

,flores,producción,x_bar,y_bar,x-x_bar,y-y_bar,num_b1,den_b1
observación,,,,,,,,
1,1.00,1.71,1.523,2.162,-0.523,-0.452,0.236396,0.273529
2,1.08,1.52,1.523,2.162,-0.443,-0.642,0.284406,0.196249
3,1.15,1.29,1.523,2.162,-0.373,-0.872,0.325256,0.139129
4,1.15,3.09,1.523,2.162,-0.373,0.928,-0.346144,0.139129
5,1.20,2.21,1.523,2.162,-0.323,0.048,-0.015504,0.104329

In [4]:
b1 = df_cop['num_b1'].sum() / df_cop['den_b1'].sum()
b0 = df_cop['producción'].mean() - b1 * df_cop['flores'].mean()
print(f"El coeficiente b1 = slope = {b1:.3f}")
print(f"El coeficiente b0 = intercept = {b0:.3f}")

El coeficiente b1 = slope = 0.516
El coeficiente b0 = intercept = 1.376

In [5]:

def y_hat(x: int | float, slope : float, intercept: float): 
    """ """`
    return slope * x + `intercept

SyntaxError: invalid syntax (1280971076.py, line 2)

In [ ]:
df_res = df.copy()
df_res['y_hat'] = df_res.apply(lambda row: y_hat(row['flores'], slope=b1, intercept=b0), axis=1)
df_res['err_hat'] = df_res['producción'] - df_res['y_hat']
df_res['err_bar'] = df_res['producción'] - df_res['producción'].mean()
df_res.head(5)

             flores  producción     y_hat   err_hat  err_bar
observación
1              1.00        1.71  1.891965 -0.181965   -0.452
2              1.08        1.52  1.933270 -0.413270   -0.642
3              1.15        1.29  1.969413 -0.679413   -0.872
4              1.15        3.09  1.969413  1.120587    0.928
5              1.20        2.21  1.995229  0.214771    0.048

In [ ]:
df_res['err_hat'].sum()

3.1086244689504383e-15

In [ ]:
df

             flores  producción
observación
1              1.00        1.71
2              1.08        1.52
3              1.15        1.29
4              1.15        3.09
5              1.20        2.21
6              1.30        2.26
7              1.37        2.40
8              1.37        2.10
9              1.43        1.96
10             1.46        2.09
11             1.52        2.02
12             1.57        1.31
13             1.65        2.17
14             1.65        2.28
15             1.65        2.41
16             1.66        2.23
17             1.87        3.04
18             2.03        2.06
19             2.05        2.73
20             2.30        2.36

In [ ]:
from scipy import stats
slope, intercept, r, p, std_err = stats.linregress(df['flores'], df['producción'])
print(f"Slope = {slope:.3f}")
print(f"Intercept = {intercept:.3f}")
print(f"Std_err = {std_err:.3f}")

Slope = 0.516
Intercept = 1.376
Std_err = 0.300

In [8]:
import statsmodels.formula.api as smf
model_1 = (
    smf.ols(
        formula='producción ~ flores',
        data=df
    )
    .fit()
)

In [9]:
model_1.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                Results: Ordinary least squares
================================================================
Model:              OLS              Adj. R-squared:     0.093
Dependent Variable: producción       AIC:                27.0920
Date:               2024-08-19 19:58 BIC:                29.0835
No. Observations:   20               Log-Likelihood:     -11.546
Df Model:           1                F-statistic:        2.957
Df Residuals:       18               Prob (F-statistic): 0.103
R-squared:          0.141            Scale:              0.20640
------------------------------------------------------------------
            Coef.    Std.Err.     t      P>|t|     [0.025   0.975]
------------------------------------------------------------------
Intercept   1.3756     0.4684   2.9369   0.0088    0.3916   2.3597
flores      0.5163     0.3002   1.7197   0.1026   -0.1144   1.1471
----------------------------------------------------------------
Omnibus:               3.112       Durbin-Watson:          2.131
Prob(Omnibus):         0.211       Jarque-Bera (JB):       1.322
Skew:                  0.441       Prob(JB):               0.516
Kurtosis:              3.900       Condition No.:          10
================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the
errors is correctly specified.
"""

In [18]:
df['flores'].mean()

1.5230000000000001

In [19]:
df['flores'].var()

0.12051684210526312

In [22]:
a = 0.454318 * np.sqrt((1/20) + (1.66-1.523)**2 /(2.2898))
a

0.1095997196552546

In [23]:
2.2327 + 2.101 * a

2.46296901099569

In [24]:
2.2327 - 2.101 * a

2.00243098900431

In [28]:
a = 0.454318 * np.sqrt((1 + 1/20) + (1.66-1.523)**2 /(2.2898))
a

0.4673509855264139

In [26]:
2.2327 + 2.101 * a

3.2146044205909954

In [27]:
2.2327 - 2.101 * a

1.2507955794090044

In [15]:
model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             producción   R-squared:                       0.141
Model:                            OLS   Adj. R-squared:                  0.093
Method:                 Least Squares   F-statistic:                     2.957
Date:                Mon, 19 Aug 2024   Prob (F-statistic):              0.103
Time:                        20:57:26   Log-Likelihood:                -11.546
No. Observations:                  20   AIC:                             27.09
Df Residuals:                      18   BIC:                             29.08
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.3756      0.468      2.937      0.009       0.392       2.360
flores         0.5163      0.300      1.720      0.103      -0.114       1.147
==============================================================================
Omnibus:                        3.112   Durbin-Watson:                   2.131
Prob(Omnibus):                  0.211   Jarque-Bera (JB):                1.322
Skew:                           0.441   Prob(JB):                        0.516
Kurtosis:                       3.900   Cond. No.                         10.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
(0.477147)**2*19 - 3.715285

0.6104309325709996

In [13]:
(0.6104)/(3.715285/18)

2.9572966811429002

In [14]:
np.sqrt((0.6104)/(3.715285/18))

1.7196792378646957

In [17]:
model_1.predict(1.66)

TypeError: object of type 'float' has no len()