# Auto reload modules

In [146]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [147]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import fs

In [148]:
ITNERIM_DIR = fs.open_fs("../../data/interim/project")
CARS_CLEAN_CSV_DIR = ITNERIM_DIR.getsyspath("car_dataframe_clean.csv")

PROCESSED_DIR = fs.open_fs("../../data/processed/project")
CARS_PROCESSED_CSV_DIR = PROCESSED_DIR.getsyspath("car_dataframe_processed.csv")

In [149]:
df = pd.read_csv(CARS_CLEAN_CSV_DIR)

In [150]:
df.columns

Index(['fuel_consumption_km_l', 'traccion', 'transmision', 'horsepower',
       'fuel_type', 'displacement', 'gears', 'engine_type', 'torque', 'turbo',
       'brand', 'age', 'body_type'],
      dtype='object')

In [151]:
df

,fuel_consumption_km_l,traccion,transmision,horsepower,fuel_type,displacement,gears,engine_type,torque,turbo,brand,age,body_type
0,7.0,4x2,Automático,449,Estándar,3.0,7.0,Combustión,516,Sí,Mercedes Benz,9,Sedan
1,10.0,4x4,Automático,310,Estándar,3.0,8.0,Combustión,325,Sí,Audi,7,Sedan
2,11.0,4x4,Automático,300,Estándar,2.0,8.0,Combustión,295,Sí,Jaguar Xe,6,Sedan
3,17.0,4x2,Automático,150,Estándar,1.4,7.0,Combustión,148,Sí,Seat,6,Suv
4,12.0,4x4,Automático,320,Gasolina,2.0,8.0,Combustión,295,Sí,Volvo,7,Suv
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,16.0,4x2,Manual,140,Gasolina,1.8,5.0,Combustión,129,No,Chevrolet,10,Suv
1231,17.0,4x2,Manual,107,Gasolina,1.6,5.0,Combustión,104,No,Chevrolet,3,Sedan
1232,17.0,4x2,Manual,100,Gasolina,1.6,5.0,Combustión,105,No,Volkswagen,6,Hatchback
1233,14.0,4x2,Manual,100,Gasolina,1.6,5.0,Combustión,105,No,Volkswagen,9,Sedan
1234,14.0,4x2,Manual,105,Estándar,1.6,5.0,Combustión,107,No,Renault,7,Sedan

In [152]:
df['displacement'].describe()

count    1235.000000
mean        2.150850
std         0.917269
min         1.000000
25%         1.600000
50%         2.000000
75%         2.500000
max         6.200000
Name: displacement, dtype: float64

In [153]:
df2 = df.copy()

Transformando la variable de horsepower

In [154]:
df2['horsepower_log'] = np.log(df2['horsepower'])

In [155]:
df2['horsepower'].corr(df2['torque'])

0.9528872161981741

In [156]:
df2['horsepower_log'].corr(df2['torque'])

0.9345332239055465

Transformando la variable de torque

In [157]:
df2['torque_log'] = np.log(df2['torque'])

In [158]:
df2['torque_log'].corr(df2['horsepower'])

0.9221878868936285

Probando para ambos

In [159]:
df2['torque_log'].corr(df2['horsepower_log'])

0.9559798921075695

Probando con polinomios

In [160]:
df2['torque_^2'] = df2['torque']**2
df2['horsepower_^2'] = df2['horsepower']**2

In [161]:
df2['torque_^2'].corr(df2['horsepower'])

0.919918819931236

In [162]:
df2['torque_^3'] = df2['torque']**3
df2['horsepower3'] = df2['horsepower']**3

In [163]:
df2['torque_^3'].corr(df2['horsepower'])

0.8364310596772202

In [164]:
df2['horsepower3'].corr(df2['torque_log'])

0.7443882863942638

Realizando pruebas VIF

In [165]:
df2

,fuel_consumption_km_l,traccion,transmision,horsepower,fuel_type,displacement,gears,engine_type,torque,turbo,brand,age,body_type,horsepower_log,torque_log,torque_^2,horsepower_^2,torque_^3,horsepower3
0,7.0,4x2,Automático,449,Estándar,3.0,7.0,Combustión,516,Sí,Mercedes Benz,9,Sedan,6.107023,6.246107,266256,201601,137388096,90518849
1,10.0,4x4,Automático,310,Estándar,3.0,8.0,Combustión,325,Sí,Audi,7,Sedan,5.736572,5.783825,105625,96100,34328125,29791000
2,11.0,4x4,Automático,300,Estándar,2.0,8.0,Combustión,295,Sí,Jaguar Xe,6,Sedan,5.703782,5.686975,87025,90000,25672375,27000000
3,17.0,4x2,Automático,150,Estándar,1.4,7.0,Combustión,148,Sí,Seat,6,Suv,5.010635,4.997212,21904,22500,3241792,3375000
4,12.0,4x4,Automático,320,Gasolina,2.0,8.0,Combustión,295,Sí,Volvo,7,Suv,5.768321,5.686975,87025,102400,25672375,32768000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,16.0,4x2,Manual,140,Gasolina,1.8,5.0,Combustión,129,No,Chevrolet,10,Suv,4.941642,4.859812,16641,19600,2146689,2744000
1231,17.0,4x2,Manual,107,Gasolina,1.6,5.0,Combustión,104,No,Chevrolet,3,Sedan,4.672829,4.644391,10816,11449,1124864,1225043
1232,17.0,4x2,Manual,100,Gasolina,1.6,5.0,Combustión,105,No,Volkswagen,6,Hatchback,4.605170,4.653960,11025,10000,1157625,1000000
1233,14.0,4x2,Manual,100,Gasolina,1.6,5.0,Combustión,105,No,Volkswagen,9,Sedan,4.605170,4.653960,11025,10000,1157625,1000000
1234,14.0,4x2,Manual,105,Estándar,1.6,5.0,Combustión,107,No,Renault,7,Sedan,4.653960,4.672829,11449,11025,1225043,1157625

In [166]:
X_df = df[['horsepower', 'displacement', 'gears', 'torque', 'age']]
y_df = df['fuel_consumption_km_l']

In [167]:
# X_df2 = df2[['horsepower', 'displacement', 'gears', 'torque', 'age', 'horsepower_log', 'torque_log', 'horsepower_^2', 'torque_^2', 'horsepower3', 'torque_^3']]
df3 =  df2[['horsepower3', 'displacement', 'gears', 'torque_log', 'age', 'fuel_consumption_km_l']].copy()
X_df2 = df3[['horsepower3', 'displacement', 'gears', 'torque_log', 'age']]
y_df2 = df2['fuel_consumption_km_l']

In [168]:
X_df_dense = X_df.apply(lambda x: x.sparse.to_dense() if pd.api.types.is_sparse(x) else x)
X_df2_dense = X_df2.apply(lambda x: x.sparse.to_dense() if pd.api.types.is_sparse(x) else x)

C:\Users\Anony\AppData\Local\Temp\ipykernel_30712\3498049791.py:1: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  X_df_dense = X_df.apply(lambda x: x.sparse.to_dense() if pd.api.types.is_sparse(x) else x)
C:\Users\Anony\AppData\Local\Temp\ipykernel_30712\3498049791.py:2: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  X_df2_dense = X_df2.apply(lambda x: x.sparse.to_dense() if pd.api.types.is_sparse(x) else x)

In [169]:
# Estandarización
scaler = StandardScaler()
X_scaled_df = scaler.fit_transform(X_df)
X_scaled_df2 = scaler.fit_transform(X_df2)

c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\Anony\anaconda3\envs\mcd_econometrics\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [170]:
vif_data = pd.DataFrame()
# vif_data["Feature"] = X.columns
vif_data["Feature"] = X_df.columns
vif_data["VIF"] = [variance_inflation_factor(X_scaled_df, i) for i in range(X_scaled_df.shape[1])]
vif_data

        Feature        VIF
0    horsepower  16.748629
1  displacement   4.232969
2         gears   1.771978
3        torque  11.884649
4           age   1.118243

In [171]:
vif_data = pd.DataFrame()
# vif_data["Feature"] = X.columns
vif_data["Feature"] = X_df2.columns
vif_data["VIF"] = [variance_inflation_factor(X_scaled_df2, i) for i in range(X_scaled_df2.shape[1])]
vif_data

        Feature       VIF
0   horsepower3  3.240652
1  displacement  3.447780
2         gears  1.862727
3    torque_log  3.810477
4           age  1.109528

In [172]:
df3.to_csv(CARS_PROCESSED_CSV_DIR, encoding='utf-8', index=False)